.btn {
  margin-right: 10px;
}

.btn-squared {
    height: 60px !important;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px !important;
}

.eventHistory, .eventList {
  overflow-y: scroll;
  height: 200px;
}

.footer {
  text-align: right;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {
  padding: 7px 14px;
}
