export const API_ROOT_URL = `${window.location.protocol}//${window.location.hostname}:8000/sealog-server`;
export const WS_ROOT_URL = `ws://${window.location.hostname}:8001/ws`;
export const ROOT_PATH = "/sealog";
